# Xcode
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Env / secrets
.env
*.env
.env.local
